:root {
  --color-dark-gray: #e0e3ee;
  --color-light-gray: #f4f5f9;
  --color-dark-blue: #2d3b87;
  --color-light-blue: #616ca5;
  --color-platinum: #e0e3ee;
  --color-white: #ffffff;
  --color-manatee: #969dc3;
  --color-green: #69c57f;
}
